﻿table {
   width: 100%; /* Ширина таблицы */
   border: 4px solid #800000;
   border-style: ridge;
   border-color: #C71585;
   border-width: 10px;
   background-color:#EE82EE;
   text-align: center;
   border-collapse: separate;
}
th { 
    background: #FFA07A; /* Цвет фона ячеек */
    padding: 5px; /* Поля вокруг содержимого ячеек */
    border: 3px solid #800000; /* Граница вокруг ячеек */
	font-size: 30px; /* Размер текста */ 
	}
td { 
    padding: 5px; /* Поля вокруг содержимого ячеек */
    border: 1px solid #800000; /* Граница вокруг ячеек */
	background: #F0E68C; /* Цвет фона ячеек */
	font-size: 25px; /* Размер текста */ 
}
h1 { 
    font-family: Times New Roman ; /* Гарнитура шрифта */ 
    font-size: 50px; /* Размер текста */ 
	text-align: center;
	text-decoration:underline;
	color: #800080;
   }
h2 { 
    font-family: Times New Roman; /* Гарнитура шрифта */ 
    font-size: 30px; /* Размер текста */ 
	text-align: left;
	text-decoration:underline;
	color: #800080;
}
input#count{
	size: "40";
	color: #800080;
	font-size: 40px;
	text-align: center;
	border: 3px solid #C71585; 
    border-radius: 10px; 
    height: 45px;
    width: 110px; 
    color: #800080; 
    font-size: 30px; 
    font-family: Times New Roman;
	margin-left:30px;
}
input{
	color: #800080;
	font-size: 15px;
	text-align: center;
	border: 1px solid #C71585; 
    border-radius: 10px; 
    height: 30px;
    width: 110px; 
    color: #800080; 
    font-size: 30px; 
    font-family: Times New Roman;
	margin-left:30px;
}
button{
	font-size: 30px; /* Размер текста */ 
	font-family: Times New Roman;
	font-weight:bold;
	color: #000000;
    height: 80px;
    width: 400px;
    margin: 0 auto;
	margin-top:40px;
	margin-bottom:40px;
    padding: 0px 0 0 7px;
    display: block;
    text-align: center;
	box-shadow: 0 -1px 0 #0e780c, 0 1px 0 #fff;
	background:-moz-linear-gradient(top,rgba(255,160,122,1)50%,rgba(240,230,140,1)100%);
    background:-webkit-gradient(linear,lefttop,leftbottom,color-stop(50%,rgba(255,160,122,1)),color-stop(100%,rgba(240,230,140,1)));
    background:-webkit-linear-gradient(top,rgba(255,160,122,1)50%,rgba(240,230,140,1)100%);
    background:-o-linear-gradient(top,rgba(255,160,122,1)50%,rgba(240,230,140,1)100%);
    background:-ms-linear-gradient(top,rgba(255,160,122,1)50%,rgba(240,230,140,1)100%);
    background:linear-gradient(top,rgba(255,160,122,1)50%,rgba(240,230,140,1)100%);
	border-radius:  20px;
	border: 1px solid #800000;
    border-color: #C71585;
    border-width: 10px;
}
div#cha{text-align: center;}




   
   
   
   